[2021-05-17 12:24] uncomfyhalomacro opened #238 "[Question] Is there a way to get Spotify Podcast metadata?"
I am currently using spotifyd. Not sure if it is spotifyd that cannot get podcast metadata or playerctl or both.

[2021-06-15 08:04] PoisonFrog opened #239 "Spotify client not fully supported?"
I can't change position or volume in Spotify using playerctl, is it a limitation of the application or is there a way to make this work?

[2021-06-19 02:07] #237 closed

[2021-07-01 12:24] maxigaz opened #241 "unknown template function: trunc"
I see that the README on GitHub mentions the helper function `trunc`, although when I try to use it, I receive an error:

[code]

I can't find it in playerctl's man page either. Maybe this used to be in the application but has since been removed?

I'm using playerctl v2.3.1 with mpv.

[2021-07-04 16:43] acrisci commented on #239
It's a known limitation with the Spotify client. Contact their customer support to ask them to fix it.

https://github.com/altdesktop/playerctl/blob/master/letter-to-spotify-support.md

[2021-07-04 16:43] #239 closed

[2021-07-09 23:39] madprops opened #242 "Make playerctld consider active player"
I'm on playerctl v2.3.1, thank you btw, it's pretty useful.

I think "-p playerctld" could be improved a bit.

Here's one case:

1) Have player A and player B open
2) Play both players
3) Now pause player A because you only want player B
4) After a while you intend to pause the active player (B)
5) But the last focused player was A (when you paused it)
6) This is not what you intended

Maybe it sh

[2021-07-09 23:42] acrisci commented on #242
I think this will be covered by #222 when I get around to it.

[2021-07-09 23:43] madprops opened #243 "Ignore some players with playerctld"
I've had problems when I have a browser playing a video and a music player.

For instance:

1) Pause music player to start watching a youtube video
2) After that's done try to unpause music player after video ends
3) But the browser video player is now the active player
4) Not what you intended

I think maybe the issue is that I don't associate web video with playerctl.
Wondering if there's a way

[2021-07-10 03:46] acrisci commented on #243
Yes, playerctl will use the daemon when it is running automatically when no player is specified. You can use the player selector flags to filter the player you don't want to use.

[2021-07-10 06:45] madprops commented on #243
Just realized there's a "-i" flag to ignore players, thanks.

[2021-07-10 06:45] #243 closed

[2021-07-11 02:05] madprops commented on #242
I think it's covered there, so I'm gonna close this

[2021-07-11 02:05] #242 closed

[2021-07-12 21:38] ginsterbusch commented on #191
its now broken on Ubuntu 20.04(.2) LTS, too.

and snap packages tend to either break half of the system or not work at all .. so .. nah.
This is my workstation = it needs to WORK. Guess I downgrade for now, and figure out compiling it myself when I got time to spare (roughly in 2025).

cu, w0lf.

[2021-08-02 11:37] ke-ss opened #244 "SOLVED: How to offset position of currently playing track by -10 seconds?"
When listening to an audio book i'm setting up a hotkey to go back 10 secs from the current position if I miss something or need to hear it again for a fuller understanding.

The command
`playerctl position offset -10`
does nothing except produce this output on the command line
`Unknown option -10`

I have tried a number of possible variations of the `position offset` command and everything obviou

[2021-08-02 17:36] acrisci commented on #244
Check the manual. Use this: `playerctl position offset 10-`.

[2021-08-02 21:49] ke-ss commented on #244
Thanks. That did not work but was really helpful becasue it suggested what did. Here is what does it
 `playerctl position 10-`
The only of the many variations I did not try was to put the `-` on the right hand side of the 10. That was not obvious.
Anyways, got there. Hopefully this will help someone else out

[2021-08-02 21:51] ke-ss commented on #244
@acrisci great piece of code b.t.w. Thanks :)

[2021-08-02 21:53] #244 closed

[2021-08-05 14:01] #205 closed

[2021-08-11 12:33] EliteGuzhva opened #245 "Doesn't work in herbstluftwm's configs"
**Description**
Recently I have updated playerctl to the latest version (from 2.0.2) in order to use playerctld daemon.
_Everything works fine from the command line_. Daemon start as a systemd service.
When calling playerctl commands from herbstluftwm (v0.9.2) scripts (for keybindings and polybar) I get **error-code 127**. However ```playerctl --version (--help)``` works as expected. Any other com

[2021-08-12 13:11] acrisci commented on #245
I don't believe I can do anything in the code to help this. I think the problem is with how your system is set up.

This exit code means the binary is not found or a library dependency is not found. This script might be altering your `PATH` env variable to find the binary. Try using an absolute path such as `/usr/bin/playerctl play` to run commands. Try to get stdout to find any error messages.

[2021-08-13 11:23] EliteGuzhva commented on #245
@acrisci The problem is that the binary is in PATH. ```whereis playerctl``` returns exactly ```/usr/bin/playerctl```. And I can get the output of ```playerctl --help``` or ```playerctl --version```.
Right now the workaround is to install the latest version, launch the daemon and then reinstall the old version (v2.0.2). It works correctly with the daemon.
Is there maybe a way to install playerctld

[2021-08-13 11:23] EliteGuzhva commented on #245
Note: Old version is installed via apt

[2021-09-01 08:25] Netherquark opened #246 "How do I control volume in fixed increments/decrements?"
Hello. I'm using playerctl with [cunidev's "gestures" app](https://gitlab.com/cunidev/gestures) which relies on libinput. I'm using [Diffuse](nightly.diffuse.sh/) via Firefox on Manjaro (Gnome). I have assigned 4 finger swipe down to `playerctl play-pause` and 4 finger swipe left to `playerctl next` and right to `playerctl previous`. This works perfectly. But I also wanted to control volume variab

[2021-09-03 01:48] acrisci commented on #246
`playerctl volume 0.10+` I believe does what you want. Not all players support volume, such as Spotify. Try it with VLC.

[2021-09-03 05:02] Netherquark commented on #246
yeah.. firefox is showing this error:
Could not execute command: GDBus.Error:org.gtk.GDBus.UnmappedGError.Quark._g_2dio_2derror_2dquark.Code0: org.mpris.MediaPlayer2.Player:Volume setting is not supported

guess ill have to figure out how to use alsamixer for the same function. thanks anyways

[2021-09-03 05:02] #246 closed

[2021-09-04 15:10] ffwng opened #247 "`playerctl --follow` misses updates from `playerctld`"
E.g. the command `playerctl metadata --follow -f '{{playerName}}'` does not print a new line when the prioritized player tracked by `playerctld` changes (after which a new invocation of `playerctl` would target the new player).

It works better with other formats, for example `playerctl metadata --follow -f '{{status}} {{playerName}}'` does update when the prioritized player changes due to a statu

[2021-09-05 06:15] SpanishPear opened #248 "Meson should be >= 0.56.0"
When building from source, obtained the following:
[code]

Docs and configs should set minimum Meson version to be 0.56.0, or not use `meson.project_source_root`.

A meson upgrade fixed the issue for me, but would be good for docs to reflect it :smile:

[2021-09-09 22:16] king-gizzard commented on #234
is there a workaround that can be applied to the playerctl cli as is?
i'd be willing to try and help with this issue otherwise, but - fair warning - am quite inexperienced when it comes to contribution/collaboration.

[2021-09-09 23:35] acrisci commented on #234
Sure just make this work with type `t`.

https://github.com/altdesktop/playerctl/blob/c892ea2f90674bba987add6ad76042696f51c20a/playerctl/playerctl-formatter.c#L471-L510

[2021-09-10 13:41] acrisci commented on #247
@ffwng did the player change from one player to another with the same value of `playerName`? If so, that is the expected behavior.

[2021-09-10 16:21] ffwng commented on #247
@acrisci player names were different. I tested it once with Firefox and Spotify and in another test with SMPlayer and VLC.

I also noticed in particular that even restarting `playerctl --follolw` did not help. This means that e.g. `playerctl metadata -f '{{playerName}}'` had output `vlc` while at the same time executing `playerctl metadata --follow -f '{{playerName}}'` printed `smplayer` as first

[2021-09-14 14:46] WuerfelDev opened #249 "Follow does not work"
The player I am using is Brave Browser.

I noticed that my script doesn't show the next playing song, so I saw that running `playerctl metadata -F` prints the correct output, but once the next song starts I get these "warnings" instead:

[code]

Every now song generates this 'warning" 4 times. The next info stays hidden.

Running playerctl v2.3.1 from ubuntu repos

[2021-09-14 19:52] Nuromi-pm opened #250 "Celluloid does not work with playerctl when playerctld daemon is running"
The player I am using is [Celluloid](https://celluloid-player.github.io/).
playerctl does not work with celluloid even though compatibility with mpris is enabled in the settings.
When run `playerctl --list-all` in terminal, I get `No players were found`.

I get the following error in journalctl when launching celluloid (sorry for the Spanish):
`playerctld[772]: could not get properties for active

[2021-09-19 22:09] Nuromi-pm commented on #250
I found out that playerctl works with celluloid only when playerctld daemon is not running. If the playerctl daemon is running, it does not detect celluloid.

[2021-09-19 22:48] Nuromi-pm opened #251 "playerctld daemon crash when opening a file within vlc"
The player I am using is vlc.
When I open a video file from within the vlc window, either using the file picker or drag and drop, it causes playerctld daemon to crash. This does not happen when i open a file from the file manager (as long as vlc is not running).

I get the following message in journalctl when playerctld daemon crash
`traps: playerctld[25418] trap int3 ip:7f3d896e5ca7 sp:7fffef82bd

[2021-09-20 00:09] #248 closed

[2021-09-20 00:22] acrisci commented on #251
This should be fixed on the master branch.

[2021-09-20 21:09] acrisci commented on #249
I believe this is fixed on master branch. I can't reproduce it.

[2021-09-20 21:11] acrisci commented on #250
I can reproduce this. Looking into it now.

[2021-09-20 22:10] #250 closed

[2021-09-21 00:04] #235 closed

[2021-09-21 03:24] #234 closed

[2021-09-21 03:43] acrisci commented on #247
I can't seem to reproduce this. I just played around a little with the command and it always does what I expect it to do. But maybe your expectations are different than mine. Try to see if master branch fixes your issue.

I have tests for `--follow` for all the common scenarios I've seen you can look at. If you think there's a missing test, let me know.

https://github.com/altdesktop/playerctl/blo

[2021-09-21 03:48] nayaabkhan commented on #247
Thanks, @acrisci! Do you think adding a case with `markup_escape` could make it more resilient? I seem to be having a problem when using it with follow: https://github.com/altdesktop/playerctl/issues/247#issuecomment-916885445.

[2021-09-21 03:52] acrisci commented on #247
@nayaabkhan go make your own issue. Test on master first because it's most likely fixed in d8a36b504b039081f18e93f48be36797705eff67 .

[2021-09-21 03:59] nayaabkhan commented on #247
Sure, I'll check on `master` and create if required.

[2021-09-21 13:01] maximbaz opened #252 "Release artifacts"
Hello 👋

Thanks for the new release! I'd like to suggest a few things related to release artifacts.

1. Could you please upload your PGP key to https://keys.openpgp.org/ and perhaps also https://keyserver.ubuntu.com/ ? The SKS pool is no longer in use, and your key can now only be manually imported from Github, but it hinders a bit distro packaging. The former link requires email validation if you

[2021-09-21 13:33] acrisci commented on #252
Ok, release is updated. Let me know if that works or you need anything else.

[2021-09-21 14:12] acrisci commented on #252
PGP key uploaded here: https://keys.openpgp.org/vks/v1/by-fingerprint/8CDFCC2D6611ACDE63D2C348564F0717F9D84E49

[2021-09-21 16:33] #252 closed

[2021-09-23 15:48] maujim opened #253 "Treat browser tabs as individual players"
Is it possible to treat browser tabs as individual players? For example if I have two youtube videos in different tabs can I control them individually.

This is specifically for firefox. Currently, the firefox player treats the tab that play/paused as its target. So if a youtube video is started in tab 1 and then another in tab 2, sending play/pause commands to firefox will only affect tab 2.

[2021-09-23 15:56] maujim commented on #253
Upon further research, it seems like this is not possible due to the way firefox handles media controls.

More info here:
- https://work.lisk.in/2020/05/06/linux-media-control.html
- https://docs.google.com/document/d/1c4FivJpvAjjw9Uw-jn7X1UjGOoWkANXOulNyqDWs83w/edit#heading=h.k4qnw5lik9gx

[2021-09-23 15:56] #253 closed

[2021-09-25 07:38] ffwng commented on #247
I have checked the `master` branch and the issue still persists. I even changed the version in `meson.build` and verified with `playerctl --version` that it is using the correct binaries.

Prerequisite: I have `playerctld` running and start both VLC and SMPlayer simultaneously, both paused (it can also be reproduced with Spotify or Firefox and probably other players as well). Then I start `playerc

[2021-09-27 13:13] madprops commented on #247
Can I use --follow to create a script that will auto-pause other sources when starting a new one?

For instance if I play firefox I want strawberry to pause etc.

[2021-09-27 14:02] acrisci commented on #247
Everyone please stop hijacking this poor man's issue. @madprops make a new issue or come to the chat for support.

[2021-10-12 14:16] thiswillbeyourgithub commented on #246
Hi, I ended up creating a shell script that allows to modify the volume of spotify. It's to be used in my minimalist project that says aloud the name of the music playing on spotify using AI btw (repo here: https://github.com/thiswillbeyourgithub/Spotify_tts)

here's the code so far: (latest version in my repo)

[code]

pinging other related issues: #239 #20 #156 #246

[2021-10-17 14:39] evanescente-ondine opened #254 "volume -[whatever with "." as a comman] doesn't work: "Unknown Option -[given amount]""
I use audacious, but regardless the problelm is with playerctl. two terminals react the same so I doubt it's an issue of character escapement of whatever... I tried \- too and it reads the same.
playerctl version v2.4.1

uname -a:
Linux mehdi-80qr 5.14.11-arch1-1 #1 SMP PREEMPT Sun, 10 Oct 2021 00:48:26 +0000 x86_64 GNU/Linux

[2021-10-17 14:51] acrisci commented on #254
As you have found, I cannot use `volume -0.5` because that looks like a short flag. Instead, the syntax is like `volume 0.5-`.

[2021-10-17 21:54] evanescente-ondine commented on #254
Many thanks !

[2021-10-17 21:54] #254 closed, assigned to acrisci

[2021-10-31 22:34] Apopheosis opened #255 "playerctl doesn't recognize mpd"
The player I am using is mpd.

Playerctl works with spotify, but doesn't recognize mpd for some reason.

playerctl -l outputs "no players found"

dbus-send --session --dest=org.freedesktop.DBus --type=method_call --print-reply /org/freedesktop/DBus org.freedesktop.DBus.ListNames
method return time=1635719233.142468 sender=org.freedesktop.DBus -> destination=:1.6492 serial=3 reply_serial=2 outputs:

[2021-11-01 01:58] acrisci commented on #255
You need the mpd mpris plugin for it to work.

[2021-11-01 11:46] Apopheosis commented on #255
Thanks, it works now, but mpd-mpris now occupies the whole terminal while working. Is it possible to make it start by default when using playerctl?

[2021-11-02 03:51] acrisci commented on #255
Yeah look at their documentation.

[2021-11-02 03:51] #255 closed, assigned to acrisci

[2021-11-02 03:52] #251 closed

[2021-11-02 03:52] #241 closed

[2021-11-02 21:23] jmcantrell opened #256 "incorrect metadata when multiple players are running"
When more than one player is running (not necessarily playing anything), if a piece of metadata is missing from one player, it will return the data from the other player.

For example, here's the scenario where I can see this problem:

1. start ncspot, play something, then pause it
2. start mpv, play something without an artist metadata field, then pause it
3. get the artist metadata with `playerc

[2021-11-02 21:27] jmcantrell opened #257 "Suggestion: `playerctl --list-all` should output nothing if there are no players running"
If there are no players running, then the output is "No players found". When using this output in a script, there's no good way to tell if there are no players running, except to compare the output to that string. In my opinion, this is very brittle, and the standard/expected result when running a list command is that if there is nothing to list, then there should be no output.

[2021-11-03 00:54] acrisci commented on #256
This is by design. In general, if an operation is not supported, playerctl will move to the next player. You can probably get what you want with the formatter with `playerctl metadata --format "{{title}}"`.

[2021-11-03 00:55] acrisci commented on #257
That's printed to stdout. Just filter that out and you will get what you want.

[2021-11-05 03:31] Lenbok opened #258 "Can no longer build with Ubuntu 20.04 LTS"
Unfortunately, it looks like #228 broke the ability to build on Ubuntu 20.04 LTS, since it ships with meson 0.53.2.

[2021-11-05 03:37] acrisci commented on #258
Can you do `pip install meson`?

[2021-11-05 10:16] AV11D724 opened #259 "No players found, OpenBSD 7.0 release."
The player I am using is [VLC]. I was able to get playerctl compiled and working on OpenBSD 7.0 release, however I get "No players found" when I try to execute a command such as "playerctl -a play".

Any suggestions?

Thank you

[2021-11-05 11:04] #259 closed, assigned to acrisci

[2021-11-05 11:18] Ingvix opened #260 "Following metadata of multiple defined players follows only the first one in the list"
The players I am using is mpd with mpDris2 and Spotify.

If player is not defined it follows all of them but, for example, with `--player=mpd,spotify` it follows only the first one.

[2021-11-05 11:23] Ingvix commented on #260
Additionally even without defining `--player` it returns only one player's metadata right after launching the command, rather than outputting metadata from each player it follows.

[2021-11-05 14:04] acrisci commented on #260
Try adding the `--all-players` flag.

[2021-11-05 14:17] Ingvix commented on #260
Seems to work, though not the most intuitive thing to do. The second issue still stands though.

[2021-11-05 14:22] acrisci commented on #260
It doesn't do that. This command was designed for status line generators in desktop bars and that might cause a flash of partially rendered content.

[2021-11-05 14:35] Ingvix commented on #260
And I need them all to build the input line for my status bar. But I guess I can just run the command once without following at the beginning to get what I need. I feel that if a user wants to follow multiple players, they probably wants to know all of their tracks at the start but if you see it differently, I guess that's that.

[2021-11-05 14:35] #260 closed, assigned to acrisci

[2021-11-06 00:00] Lenbok commented on #258
Right you are! I removed the system meson package and pip installed the latest -- all is good and sorry for the noise!

[2021-11-06 00:00] #258 closed, assigned to acrisci

[2021-11-07 01:04] jmcantrell commented on #257
Right, stdout would be the correct place to output it. I still think it's non-standard to output something when there's nothing to output. What purpose does it serve?

[2021-11-07 23:31] acrisci commented on #257
It's standard to output useful diagnostic messages in stderr. It's useful in this case because it's probably the number one reported message on this issue tracker, and it's easier to report and understand than "exit 0 with no output" which may be confused with some other problem if you aren't familiar with the project.

[2021-11-08 03:11] jmcantrell commented on #257
Thanks for the explanation.

[2021-11-08 03:11] #257 closed, assigned to acrisci

[2021-11-08 03:18] #249 closed

[2021-11-24 00:27] Nicceboy opened #261 "play-pause not working with spotifyd (the pausing part)"
I am not sure if [spotifyd](https://github.com/Spotifyd/spotifyd) is officially supported, but it works pretty well with playerctl.

However, there is one command `playerctl play-pause` which does not pause when attempting to pause the media. Also other variations are not working e.g.
[code]
Starting of playing works with the same command, and other commands I have tried so far.
Pausing works with

[2021-12-01 20:36] edi9999 commented on #191
I still have the same problem even with the latest version, using following commands :

[code]

Additional info :

[code]

[2021-12-02 20:00] pietryszak commented on #261
playerctl --player spotifyd play
playerctl --player spotifyd pause workig fine
playerctl play-pause not working for me.

And I think It's related with [Spotifyd Bug 1018](https://github.com/Spotifyd/spotifyd/issues/1018)

[2021-12-03 16:54] acrisci commented on #191
If you install both the deb I provide and from your package manager one after the other, it will break. Uninstall the system version, then purge the installation with `apt purge` to remove all the files of the system installation.

[2021-12-03 20:02] Nicceboy commented on #261
Okay. It seems that we need to wait for upstream fix then!

[2021-12-04 11:21] edi9999 commented on #191
That is working indeed !

Maybe this issue can be closed since this seems to be a working solution ?

[2021-12-07 18:16] 144reasons opened #262 "Unknown or unsupported transport “disabled” for address “disabled:”"
The player I am using is Spotify.

I am trying to use `playerctl status`, but every time I try to run that, it gives me the following error:
`Unknown or unsupported transport “disabled” for address “disabled:”`
I thought it was an issue with the daemon, so I ran `playerctld daemon`, but got the following:
`could not connect to message bus: Unknown or unsupported transport ?disabled? for address ?d

[2021-12-07 18:57] acrisci commented on #262
It seems as though DBus is disabled on your system. You cannot use playerctl unless this is set up correctly.

[2021-12-07 19:04] 144reasons commented on #262
Looking into it now, thank you!

[2021-12-09 20:25] Nicceboy commented on #261
This is fixed on the upstream now.

[2021-12-09 20:25] #261 closed, assigned to acrisci

[2021-12-26 15:39] 144reasons commented on #262
This was user error, closing

[2021-12-26 15:39] #262 closed, assigned to acrisci

[2021-12-27 16:22] AckslD opened #263 "Unable to connect with callbacks to spotifyd"
The player I am using is `spotifyd`.

Hi, I'm new to using the playerctl through a python script and am not able to get it working. I'm trying to get the [mediaplayer.py](https://github.com/Alexays/Waybar/blob/master/resources/custom_modules/mediaplayer.py) from [waybar](https://github.com/Alexays/Waybar/) working.

To try to debug what's going on I tried to just use the example script in the READ

[2021-12-30 10:32] jpcima opened #264 "Segfault if mpris:trackid from metadata is not of type object path"
The player is a program which I'm working on currently.
By mistake, I made `mpris:trackid` a string rather than object path, and this would crash playerctl 2.4.1.

This revealed that playerctl is not robust in case of a type mismatch.
[code]

[2022-01-09 12:33] sewnie commented on #226
anything new? running into this bug except with the spotify client.
[code]

[2022-01-16 10:58] mrbooshehri commented on #148
@acrisci I have the same problem, is there any solution?

[2022-01-25 22:18] thomasvs opened #265 "playerctld maintains a list of players, but lacks an option to show that list"
I'm trying to figure out why playerctld is wrongly keeping my paused rhythmbox at the top of the stack over my playing spotify.

I see shift and unshift commands to move to a different player, but a list command to list all currently known players, and their order, seems like an easy addition?

[2022-01-25 22:56] acrisci commented on #265
You can run playercltd with `G_MESSAGES_DEBUG=playerctl playerctld` and it will display debug messages that explains why it chooses the player it does.

[2022-01-31 20:13] evanescente-ondine opened #266 ""couldn't get file information" on play [URI] for cmus"
The player I am using is cmus v2.9.1 and playerctl v2.4.1

caused: "couldn't get information on file://home/drm/Musique/FAUN\ \[Discography\]/2009\ -\ Acoustic\ -\ Buch\ Der\ Balladen/01_Prolog.mp3" . Any path causes the same reaction.

Is it an issue with cmus or playerctl ? playerctl -p cmus play works.

[2022-02-11 19:49] denisoster opened #267 "Chrome don't handle commands"
System information
[code]

Bug
Chrome don't handle commands
[code]

Note
spotify and playerctl works correctly

[2022-02-17 22:18] thomasvs commented on #265
Thanks for that!

Now, when running it, and pressing play in rhythmbox, I see

(playerctld:1181414): playerctl-ERROR **: 17:17:25.803: cannot update properties for unknown interface: org.mpris.MediaPlayer2.Playlists
Trace/breakpoint trap

That seems like a clearer reason for why it might not be working for me.  I'll open a separate issue.

[2022-02-17 22:18] #265 closed, assigned to acrisci

[2022-02-17 22:24] thomasvs opened #268 "Hitting play in rhythmbox causes playerctld to crash."
The player I am using is Rhythmbox and Spotify.

I start Spotify, I play music in Spotify.

I run G_MESSAGES_DEBUG=playerctl playerctld

then I start Rhythmbox.  As I do so, playerctld crashes:

(playerctld:1182714): playerctl-DEBUG: 17:22:24.111: got method call: sender=:1.89, object_path=/org/mpris/MediaPlayer2, interface_name=org.freedesktop.DBus.Properties, method_name=Get
(playerctld:1182714)

[2022-03-10 02:38] pabs3 commented on #171
@acrisci Please reopen this issue if you find the following use-cases compelling:

The MPRIS D-Bus documentation says that the Quit command should be implemented for media players with no user interface (for example a command-line, D-Bus activated or daemon based player). I think that is a valid use-case for this option. Since chromecast_mpris mentioned by @alexdelorenzo is now a daemon called [ca

[2022-03-25 13:13] IngoMeyer441 opened #270 "potential race condition between playerctl and playerctld"
I try to use the really nice `shift` feature of `playerctld` to build a keyboard shortcut to quickly jump to the next player, pause all active players and activate only the newly selected one. For this, I use:
[code]
This works, but sometimes the previously selected player keeps the active one. An example to make it easier to understand:

- Audacious is playing
- The previously mentioned command i

[2022-04-13 06:46] theorytoe opened #271 "volume will not increment past 0.06"
Player: mpd
I have used both the mpDris2 and mpd-mpris backends.

Issue:
when the current volume is less than 0.06, and you attempt to increase/increment the volume past that point
(like `playerctl --player mpd volume 0.01+)`, nothing will change and the volume will stat constant.
This issue also happens at 0.57 volume.

This does not occur on any other players (notably ncspot and vlc).

[2022-04-15 11:20] heavyrain266 opened #273 "Playerctl fails with `Could not connect to players: Cannot autolaunch D-Bus without X11 $DISPLAY` on Wayland"
The player I am using is Firefox.

Command `playerctl metadata --format '{{ artist }} - {{ title }}' -F` which I'm using to get info about current song from Youtube Music in Firefox fails with message embedded in title.

I have tried it with any other compatible player like chromium and spotify but fails with same result. Previously launching compositor with `dbus-launch` worked but now doesn't. A

[2022-04-25 23:58] ChevySSinSD commented on #238
I have the same issue.  I am running spotifyd and also spotify-tui as my player.  Spotify-tui is able to display all the metadata for the podcast track playing, but playerctl does not.  Playerctl does handle song metadata without issue.

[2022-05-01 09:08] #273 closed, assigned to acrisci

[2022-05-02 19:48] RedDofamine opened #274 "playerctl -l says: No players found (cmus is running)"
The player I am using is [cmus].
In cmus settings mrpis are set to true.
What I have to do?

[2022-05-09 11:11] RedDofamine opened #275 "CMUS don't work with playerctl"
Playerctl -l can't find cmus (btw mpris is set on in settings)

[2022-05-26 08:42] uncomfyhalomacro commented on #238
It is working now :) going to close

[2022-05-26 08:42] #238 closed

[2022-06-05 17:38] Crylia opened #277 "Could not execute command: GDBus.Error:org.freedesktop.DBus.Error.InvalidArgs: Keine derartige Eigenschaft »Shuffle«"
The player I am using is [Spotify (Flatpak)].

It worked just fine until now without an updating possibly breaking stuff.
The error translates to:
Could not execute command: GDBus.Error:org.freedesktop.DBus.Error.InvalidArgs: No such Property »Shuffle«.

[2022-06-17 08:20] PiotrekPKP opened #278 "Opening Spotify with URI with playlist context does not play song"
The player I am using is Spotify.

When I try to run: `playerctl open "spotify:track:22x7osKceBEu1NgRZYfQZc?context=spotify:playlist:6O0vSr7iwCezxh0P7M4CtR"` it opens the playlist but fails to play the song.

When running the same URI with Spotify's command (`spotify --uri="..."`) it works. Is it my fault / is there any option to play track in context of Spotify's playlist?

[2022-06-18 01:07] udf commented on #271
This doesn't look like a playerctl bug, by looking at the dbus messages with `dbus-monitor --session`, I see that playerctl is telling the mpris client to set its volume to 58%:

    method call time=1655513091.401890 sender=:1.175 -> destination=:1.121 serial=17 path=/org/mpris/MediaPlayer2; interface=org.freedesktop.DBus.Properties; member=GetAll
      string "org.mpris.MediaPlayer2.Player"

[2022-06-18 01:22] udf commented on #271
Okay, wow it's actually a rounding issue in 3 different clients.

mpd-mpris has it fixed: https://github.com/natsukagami/mpd-mpris/pull/20
My mpDris pull request: https://github.com/eonpatapon/mpDris2/pull/157

Cantata is archived, so no chance of fixing it there.

@acrisci @Theory-of-Everything This issue can be closed.

[2022-06-24 03:36] theorytoe commented on #271
alrighty!

[2022-06-24 03:36] #271 closed, assigned to acrisci

[2022-07-06 14:10] fm-dev-mx commented on #20
If somebody have yet the same problem, in /usr/share/kbd/keymaps/

	touch personal.map  	(create the file)

	Paste this...

	  XF86AudioMute 'XF86AudioMute'
	  XF86AudioNext 'XF86AudioNext'
	  XF86AudioPlay 'XF86AudioPlay'
	  XF86AudioPrev 'XF86AudioPrev'
	  XF86AudioLowerVolume 'XF86AudioLowerVolume'
	  XF86AudioRaiseVolume 'XF86AudioRaiseVolume'
	  XF86Search 'XF86Search'
	  XF86Sleep 'XF86Sleep

[2022-07-14 12:59] flexiondotorg commented on #239
I noticed that Spotify has recently been updated and can now be fully controlled using `playerctl`, including changing volume, position, loop and shuffle which previously didn't work 🥳

[2022-07-14 13:03] flexiondotorg commented on #246
I was done something similar to @thiswillbeyourgithub to integrate Spotify with my OBS Studio streaming setup. However, I noticed that Spotify has recently been updated and can now be fully controlled using `playerctl`, including changing volume, position, loop and shuffle which previously didn't work 🥳

[2022-07-19 10:22] hofq opened #279 "Playerctld seems not to work with spot"
The player I am using is [Spot].

1. Open Spot and Start any Song
2. Use playerctl --player playerctld pause
3. Song keeps playing

[code]

OS: Arch
WM: Awesome
Dotfiles: rxyhn

[2022-07-19 10:25] #279 closed, assigned to acrisci

[2022-07-25 03:19] amarz45 opened #280 "Seeking is Not Always Precise"
I am using the latest version of mpv and version 2.3.1 of playerctl. Most commands work perfectly. I want to seek forward by one second by using `playerctl position 1+`. This does not **always** work. Sometimes it seeks forward by one second, and sometimes it seeks forward by five or even 10 seconds. It is not consistent; it seems to be random.

[2022-07-26 03:29] Djhg2000 opened #281 "Feature request: strict HH:MM:SS formatting of `{{ duration(position) }}`"
While developing a completely separate project with an 8 character array of 7-segment displays, I found it quite useful to have the time of the currently playing video printed out on the display.

Long story short, the truncated format for short videos (as in `1:23` instead of `00:01:23`) made it a little more complicated to actually make it fit the entire display. The temporary solution I came up

[2022-08-15 01:45] sincorchetes commented on #7
Confirmed on Spotify 1.1.84

[2022-08-16 13:37] litoj opened #282 "[Feature request] Add player selection for active or paused sources"
I am comming from mpris-ctl, which works good enough, but I couldn't change the position of the track, so I want to migrate to this neat programm. Only feature I miss is the ability to have a stream on youtube (web browser) and let's say vlc play some music: I would stop one and play the other and would skip some part of the clip, but only the currently active source would skip, not the paused one

[2022-08-25 16:27] pschmitt opened #283 "Exposing playerctld with rygel"
Hi,

I'm trying to expose playerctld using Rygel over my local network. Other MPRIS players such as VLC or Firefox are picked up fine, but not playerctld.
In Rygel's log I see the following entry:

[code]

Did a bit of digging around here and there and from what I gathered this seems to be due to playerctld having `CanControl` set to `false`. Couldn't figure out how to change this.

[2022-08-25 19:34] pschmitt commented on #283
Did a bit more testing with rygel. Turns out that it actively ignores mpris clients that when first discovered had `CanControl` return `false`. If these players become controllable after being discovered they still get ignored. Rygel assumes that `CanControl` is immutable, which is what's recommended by the official freedesktop docs.

So in a nutshell what happens here is that rygel will ignore pl

[2022-09-04 10:40] flipsi commented on #239
Sound great! But for me, it unfortunately still doesn't work.
I'm using the following Spotify version:
[code]

[2022-09-04 10:46] flipsi commented on #20
Thanks for the attempt. It doesn't work for me, unfortunately.

[2022-09-04 10:46] flipsi commented on #20
Thanks for the attempt. It doesn't work for me, unfortunately.

[2022-09-04 17:38] PoisonFrog commented on #239
I'm using the same version and it is working for me. Are you using valid commands?
Try these:
[code]

[2022-09-04 22:24] vbgfhfngfdtyreyt opened #284 "playerctld seems to ignore firefox in favor of mpv"
OS is Debian 10. firefox version is latest from Debian repos, 91.13.0esr. mpv version is latest from Debian repos, 0.29.1-1. playerctl / playerctld version is 2.4.1.

How to reproduce:
playerctld is started with `playerctld daemon`. mpv is started and is paused or playing (the problem occurs either way). I then open firefox and navigate to youtube. I start a youtube video playing, this is the audi

[2022-09-07 05:35] nobodyatandnothing opened #285 "not working with mpv."
[code]

[2022-09-07 05:35] nobodyatandnothing commented on #285
does work with firefox

[2022-09-11 16:41] mttomaz opened #286 "formatter: `default()` prints the first value even if it is a empty string."
I was trying to use `default(artist, album)` on Spotify, because when you're listening to some podcast, the name of the podcast is in `mpris:album` not `mpris:artist`, but `default()` does not recognize if the first value is an empty string. It would be great if it did and i imagine it's simple to fix.

[2022-09-13 13:08] mttomaz commented on #286
Example of what happens:
<img src="https://i.imgur.com/Z17Iq8R.png">

[2022-09-13 13:45] SunnyOd commented on #229
I'm using playerctl to skip forwards/backwards 10s/5s using this sxhkd entry:
#MEDIA Controls - Browsers
alt + shift + {space,comma,period}
 playerctl -p firefox,com.brave.Browser,chrome {play-pause,position 5-,position 10+}

`position` works perfectly in chrome and the video skips as expected, however it does nothing in firefox. Anyone else come across this? Maybe I've missed something?

Cheers
S

[2022-09-15 10:07] dylanlobo opened #287 "Crashes with Totem (version 3.34.1 on Ubuntu 20.04) when using the "position" command"
The player I am using is Totem.
$ playerclt -l
totem

$ playerctl -p totem position 10
(playerctl:4855): GLib-CRITICAL **: 10:55:06.769: g_variant_new_object_path: assertion 'g_variant_is_object_path (object_path)' failed
Segmentation fault (core dumped)

This is most likely caused by Totem returning an invalid mpris:trackid (not a valid object path). See https://gitlab.gnome.org/GNOME/totem/-/iss

[2022-09-18 23:13] bvergnaud opened #288 "Follow mode behaves unreliably if the player is closed (Plexamp)"
Hello,

I use Plexamp to play music.
I'm using `playerctl` in a [waybar custom module](https://github.com/Alexays/Waybar/wiki/Module:-Custom) to show what song is playing. And rather than poll every second, I'd rather use the `--follow` flag which seems perfectly suited.

So I crafted this little command which works almost as expected:
[code]

I say almost because if I close Plexamp, `playerctl` s

[2022-09-18 23:22] bvergnaud commented on #288
Well, I'm an idiot who can't read a readme file apparently... 😅

Here's a more detailed example with Plexamp, and debug mode:
[code]

So it does catch the new instance, and new status / metadata changes. However it just does not output them to stdout. Before the blank line, you can see the output after each `Plexamp: metadata changed` line. After the blank line, no output.

[2022-10-02 07:24] andrhua opened #289 "Multiple Firefox players are detected as a single one"
Recently I've come to know about existence of `playerctld` and want to make use of it.
I'm running pipewire 0.3.58, playerctl 2.4.1, firefox 105.0.1, `playerctld daemon` is run on system start. Now, if I'm playing two sessions in one Firefox window, `playerctl -l` shows just one player instance, and because of that `playerctld shift/unshift` has no effect.
![image](https://user-images.githubuserco

[2022-10-05 22:13] flipsi commented on #239
Thank you very much (and sorry for my late reply)!

I guess the answer is *almost*: `-p spotify` did the trick! Interestingly enough, the `volume` command does not work without it, whereas the `play-pause` command does.

[2022-10-09 23:16] primalmotion commented on #285
same here

[2022-10-11 08:30] veloek commented on #285
Did you try with the mpris plugin? https://github.com/hoyon/mpv-mpris

[2022-10-12 23:02] nobodyatandnothing commented on #285
works. thanks. note: used to work without.

[2022-10-14 00:52] SinTan1729 commented on #148
@mrbooshehri I ended up using
[code]

[2022-10-19 18:04] akk382 commented on #213
The media controls of next, previous are working only when we are in youtube playlist. Maybe the driver is finding difficulty with what to play next, when not in playlist.

[2022-10-21 12:24] llyyr opened #291 "Add option to mute and unmute"
Currently I can do this with a bash script by storing the current volume, setting it to 0 then setting it back to the original value to unmute. It would be nice if playerctl supported a less hacky way of muting.

[2022-10-25 11:46] veloek commented on #291
@llyyr I use `pactl` for mute/unmute:
[code]

[2022-10-25 11:53] llyyr commented on #291
But I don't want to mute everything, only my music player. My specific use case is listening to a live stream that takes 15-20 seconds for reconnect + buffer after resuming, so it's better to just mute instead of pause if I want to quickly listen to something else (like a Twitter clip for example) without waiting for reconnection.

[2022-10-25 11:59] veloek commented on #291
I see. Well, it doesn't seem like the spec include mute/unmute, so playerctl would have to remember last volume, basically what you're already doing I guess..

https://specifications.freedesktop.org/mpris-spec/latest/Player_Interface.html

[2022-10-27 01:57] #285 closed, assigned to acrisci

[2022-10-27 20:45] rayshabh opened #293 "Playerctl not fetching Mozilla Firefox metadata"
Whenever I play video/audio from streaming websites like YouTube, Spotify Web Client, etc. using Mozilla Firefox (v 106.0.1), Playerctl does not fetch any metadata, though the control keys like play/pause actions are working.

I've checked Playerctl with VLC, and it works well and collects the metadata for the same.

Please help to configure Playerctl so that it starts fetching metadata of Firefox

[2022-10-27 21:16] dylanlobo commented on #293
Not sure Firefox (v 106.0.1) provides any "informative" metadata -- probably does not based on what you've reported above. I've checked with Firefox (v 105) and can confirm that it does not return any useful metadata, so the "issue" is most likely with Firefox. This is all the metadata that it returns when playing a youtube video:
{'mpris:trackid': '/org/mpris/MediaPlayer2/firefox',
 'xesam:album'

[2022-10-28 11:34] rayshabh commented on #293
Yes, exactly! This is what Firefox returns.

[2022-10-31 16:17] llyyr commented on #291
I wasn't aware this is a MPRIS limitation, closing this issue then

[2022-10-31 16:17] #291 closed, assigned to acrisci

[2022-11-12 20:05] code-IM-perfect commented on #293
yeah well it isn't a playerctl issue then...better open it on mozilla bugzilla then

[2022-11-19 02:45] xenrox commented on #286
Hello,

I just ran into the same problem. I think it was introduced in https://github.com/altdesktop/playerctl/commit/119d0a58796e96a9368a7787c88743c4c5f45d85.
The problem is that [this comparison](https://github.com/altdesktop/playerctl/blob/b19a71cb9dba635df68d271bd2b3f6a99336a223/playerctl/playerctl-formatter.c#L561) return `0` for empty strings instead of `1` and so the second value never gets